<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center main-container">
        <div class="col-md-6 text-center">
          <h1>Flip A Quarter</h1>
          <h6>Pick a room, Invite your friend!</h6>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center main-container loggedOut">
        <div class="col-md-6" style="text-align: center;">
          <button type="button" name="button" class="btn btn-primary btn-login" >Login</button>
          <br/>
          <h4>Login to get stared!</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center main-container loggedIn">

        <div class="col-md-6 text-center" >
          <h3>Pick a room</h3>
          <input id='room-id' type='text' class="form-control"></input>
          <button class="buy-quarters-button" data-widget-type="button" data-order-code="1" data-amount="1000" data-button-type="green">
            Join
          </button>
          <div id='messages' class='my-3'>
          </div>
      </div>

        </div>
      </div>
                      <div class="row justify-content-center main-container loggedIn">
        <div class="col-md-6 text-center">
          
          <span class="name-info text-muted mx-4"></span><button type="button" name="button" class="btn btn-link btn-logout">Logout</button><br/><br/>
        </div>
      </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="/javascripts/lib/quarters.min.js" charset="utf-8"></script>
<script src="https://dev.pocketfulofquarters.com/embeds/button.js"
    data-script-name="quarters-embeds"
    data-app-id="4ELvnPuxeEWZYw3Fgins"
    data-app-key="3luv5t2fkyh5oyfjalhp8u814pyua4dck"
    charset="utf-8"></script>

  <script src="/javascripts/index.js" charset="utf-8"></script>
</html>
